/* General Styling */
html {
    background: black;
    color: #13A328
}

select {
    border: 1px solid #13A328;
}

input {
    border: 1px solid #13A328;
}

input:hover, input:focus {
    border: 3px solid #13A328;
    font-weight: bold;
}

select:hover, select:focus {
    border: 3px #13A328 solid;
}

[type="checkbox"]:hover, [type="checkbox"]:focus {
    outline: 3px solid #13A328;
}

[type="button"]:hover {
    border: 3px #13A328 solid;
    background: black;
    color: white;
    font-weight: bold;
}

[type="button"] {
    background: #13A328;
    color: white;
}

/* input[type="text"],input[type="number"] {
    background: #13A328;
    color: black;
} */

p span {
    border-bottom: 1px solid #13A328;
}

code {
    border: 4px solid #13A328;
}

/**************
Skills Styles 
**************/
  
#skillRollers section {
    border: double #13A328 4px;
}

table, td, th {
    border: 1px solid #13A328;
}

/*******************
Tabpanel Formatting
*******************/
[role="tab"] {
    color: white;
}

[role="tabpanel"] {
    border: 2px solid #13A328;
    background: #13A328;
}

[role="tab"]:hover span.focus,
[role="tab"]:focus span.focus,
[role="tab"]:active span.focus {
  border: 2px solid #13A328;
}

[role="tab"][aria-selected="false"] {
    border-bottom: 1px solid #13A328;
}

[role="tab"][aria-selected="true"] {
    border-top-color: #13A328;
    border-bottom-color: #13A328;
    background: #13A328;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover {
  border: 1px solid #13A328;
  border-bottom: 2px solid #13A328;
  background: #13A328;
}

/**************
Ability Table
**************/

/******************
Group Suites
******************/
  
/**************
Footer Styles
**************/

/******************
Tablist darkmode
******************/
[role="tab"][aria-selected="true"] {
    border-bottom-color: #13A328;
    background: black;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover,
[role="tabpanel"] {
  background: black;
}