/* General Styling */

/* Used when this is a browser extension.
    html {
        width: 800px;
        height: 600px;
    }
*/

main {
    width: 97%;
}

label {
    font-weight:bold;
}

li {
    margin: 5px;
}

p {
    margin-bottom: 5px;
}

label {
    margin: 5px;
}

code {
    display: block;
    min-height: 20px;
    min-width: 50px;
    padding: 20px 20px 20px 20px;
    margin: 20px 20px 20px 2px;
}

/* Skills Styles */
#skillRollers {
    display: flex;
    flex-wrap:wrap;
    align-content: start;
    justify-content: left;
}
  
#skillRollers section {
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 5px 10px;
    border-radius: 10px;
    width: 25%;
    /* width: 80%; */ /* This is the width when it is a browser extension. */
}

.rollStat {
    margin: 10px;
}

/* Ability Table */
.mini-text {
    display: block;
    font-size: smaller;
    font-style: italic;
}

table, td, th {
    min-width: 80%;
    padding: 5px;
}
  
/* Footer Styles */
footer p {
    text-align: center;
    padding-bottom: 10px;
}