/***************
General Styling
***************/

/* html {
    width: 800px;
    height: 600px;
} */

main {
    padding: 10px;
    margin: 10px;
    width: 95%;
}

h1 {margin-top: 5px; padding-top: 5px;}

/* Lists */
li {
    margin: 5px;
    padding: 5px;
}

/* Tables */
table {
    display: block;
    overflow: scroll;
    white-space: nowrap;
}

table, td, th {
    min-width: 80%;
    padding: 5px;
}

table tbody {
    width: 100%;
}

/* Text */
p {
    margin-bottom: 5px;
    display: block;
}

p span {
    padding: 5px;
}

code {
    display: block;
    min-height: 10px;
    min-width: 50px;
    padding: 20px 20px 20px 20px;
    margin: 10px 10px 10px 2px;
}
/* Form elements */
label {
    margin: 5px;
    font-weight:bold;
    font-size: 1.1em;
}

input {
    line-height: 1.1em;
    min-width: 50%;
}

input[type="number"], input[type="text"] {
    min-height: 1.5em;
    font-size: 1em;
}

input[type="button"] {
    margin-bottom: 10px;
    margin-top: 10px;
    margin-left: 0;
    padding: 5px;
}

select, input {
    padding: 5px;
}
/***********
Base Info
***********/
#baseInfo span {
    display: block;
    margin-bottom: 10px;
}
#additionalDetailsLabel {
    margin-bottom: 2px;
    clear: right;
}

/*************
Skills Tab
*************/
.rollDiv {
    margin-left: 0;
    padding-left: 0;
}

#skillRollers {
    display: flex;
    flex-wrap:wrap;
    align-content: start;
    justify-content: left;
}
  
#skillRollers section {
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 5px 10px;
    border-radius: 10px;
    width: 80%;
}

.rollStat {
    margin: 10px;
}

[role="status"] {
    padding-bottom: 10px;
}

/*************
Injuries Tab
*************/
#injuries-List label {
    min-width:200px;
}

/************
Ability Tab
************/
.mini-text {
    display: block;
    font-size: smaller;
    font-style: italic;
}

/**************
Footer Styles
**************/
footer p {
    text-align: center;
    padding-bottom: 10px;
}