/* General Styling */
* {
    background: black;
    color: white
}

/* Skills Styles */
  
#skillRollers section {
    border: double #ff8c00d9 4px;
}

table, td, th {
    border: 1px solid #ff8c00d9;
}

/* Ability Table */
  
/* Footer Styles */

/* Tablist darkmode */
[role="tab"][aria-selected="true"] {
    border-bottom-color: white;
    background: black;
}

[role="tab"],
[role="tab"]:focus,
[role="tab"]:hover,
[role="tabpanel"] {
  background: black;
}