/* General Styling */
body {
    color: #563001d9;
}

label {
    font-weight:bold;
}

li {
    margin: 5px;
}

/* Skills Styles */
#skillRollers {
    display: flex;
    flex-wrap:wrap;
}
  
#skillRollers section {
    margin: 0px 10px 10px 10px;
    padding: 0px 10px 5px 10px;
    border: double #bd6800d9 4px;
    border-radius: 10px;
}

/* Ability Table */
.mini-text {
    display:block;
    font-size:smaller;
    font-style: italic;
}

table, td, th {
    min-width: 80%;
    border: 1px solid #bd6800d9;
    margin: 0;
    padding: 5px;
}
  
/* Footer Styles */
footer p {
    text-align: center;
}